<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.femtaxi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".EnviarImagenSegundoActivity"></activity>
        <activity android:name=".client.RequestDriverActivity" />
        <activity android:name=".llmadasDiariasActivity" />
        <activity android:name=".MapBoxPlaceActivity" />
        <activity
            android:name=".client.DetailRequestActivity"
            android:parentActivityName=".client.MapClienteActivity" />
        <activity android:name=".pruebasAppActivity" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/file_paths" />

        <activity android:name=".imagenesCelularActivity" />
        <activity android:name=".EnviarImagenTresActivity" />
        <activity android:name=".EnviarImagenDosActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".loginActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".EnviarImagenActivity" />
        <activity android:name=".ElegantDataActivity" />
        <activity android:name=".GpsDriverActivity" />
        <activity
            android:name=".client.MapClienteActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".client.LoginClientActivity" />
        <activity
            android:name=".ClienteOptionActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".driver.MapDriverActivity"
            android:parentActivityName=".driver.OpcionDualDriverActivity" />
        <activity android:name=".RegistroDriverImageActivity" />
        <activity android:name=".RegistroDriverSegundoActivity" />
        <activity
            android:name=".RegistroDriverPrimerActivity"
            android:parentActivityName=".driver.OpcionDualDriverActivity" />
        <activity
            android:name=".driver.OpcionDualDriverActivity"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".driver.NotificationBookingActivity" />

        <activity android:name=".driver.MapDriveBookingActivity" />

        <activity android:name=".client.MapClientBookingActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.femtaxi"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".broadcast.AcceptReceiver"
            android:enabled="true" />
        <receiver
            android:name=".broadcast.CancelReceiver"
            android:enabled="true" />

        <service
            android:name=".service.MyFirebaseMessagingUser"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>