<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.com.android.femtaxi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsPictureInPicture="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.admiSoft.LoginAdmiActivity"/>
        <activity android:name=".webRegistroActivity" />
        <activity android:name=".ui.admiSoft.OptionDesarrolloActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.driver.registerDriver.UploadSetareActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.driver.registerDriver.UploadRevTecActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IdentVehicularActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.driver.registerDriver.UploadDriverActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.driver.registerDriver.UploadSoatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.driver.registerDriver.UploadDNIActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.driver.registerDriver.UploadPenalesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.driver.registerDriver.UploadPolicialActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.client.CalificationClientActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.driver.ProfileDriverActivity"
            android:parentActivityName=".ui.driver.MapDriverActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.driver.HistoryBookingDriverActivity"
            android:parentActivityName=".ui.driver.MapDriverActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.driver.CalificationDriverActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.client.RequestDriverActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.client.DetailRequestActivity"
            android:parentActivityName=".ui.client.MapClienteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.client.ProfileClientActivity"
            android:parentActivityName=".ui.client.MapClienteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.client.HistoryBookingClientActivity"
            android:parentActivityName=".ui.client.MapClienteActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/file_paths" />

        <activity
            android:name=".ui.client.MapClienteActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.client.LoginClientActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.driver.MapDriverActivity"
            android:parentActivityName=".ui.driver.LoginDriverActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.driver.registerDriver.RegistroDriverSegundoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.driver.registerDriver.RegistroDriverPrimerActivity"
            android:parentActivityName=".ui.driver.LoginDriverActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.driver.LoginDriverActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.driver.NotificationBookingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.driver.MapDriveBookingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.client.MapClientBookingActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="pe.com.android.femtaxi.Provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".broadcast.AcceptReceiver"
            android:enabled="true" />
        <receiver
            android:name=".broadcast.CancelReceiver"
            android:enabled="true" />

        <service
            android:name=".service.MyFirebaseMessagingUser"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--<service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:directBootAware="true"

            android:exported="false">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

                This registrar is not defined in the dynamic-module-support sdk itself to allow non-firebase
                clients to use it as well, by defining this registrar in their own core/common library.

            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.dynamicloading.DynamicLoadingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

        </service>

        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="pe.com.android.femtaxi.firebaseinitprovider"
            android:directBootAware="true"
            android:exported="false"
            android:initOrder="100" />
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="pe.com.android.femtaxi" />
            </intent-filter>
        </receiver>-->

    </application>

</manifest>